/backend/target/
/backend/logs
/backend/MixewayFlowAPI.iml

/frontend/.angular
/frontend/node_modules
/frontend/.DS_Store
/frontend/src/.DS_Store
/frontend/src/assets/.DS_Store
#frontend/src/environments

/backend/volnerability-check-main/poetry.lock

.idea
.DS_Store
*.ipr
*.iws