<button color="primary" cButton (click)="bulkRepositoryImportButtonClicked()"
        cTooltip="Import multiple repositories from a Git provider">
    <svg cIcon class="me-2" name="cil-code"></svg>
    Bulk Repository Import
</button>

<button color="light" cButton (click)="singleRepositoryImportButtonClicked()"
        cTooltip="Import a single specific repository">
    <svg cIcon class="me-2" name="cil-clone"></svg>
    Single Repository Import
</button>

<button color="info" cButton (click)="createTeamButtonClicked()"
        *ngIf="showCreateTeamButton" cTooltip="Create a new team">
    <svg cIcon class="me-2" name="cil-people"></svg>
    Add New Team
</button>

<app-bulk-repository-import-modal
        (onFormSubmit)="onBulkRepositoryImportFormSubmit($event)">
</app-bulk-repository-import-modal>

<app-single-repository-import-modal
        (onFormSubmit)="onSingleRepositoryImportFormSubmit($event)">
</app-single-repository-import-modal>

<app-add-new-team-modal
        (onFormSubmit)="onAddNewTeamFormSubmit($event)">
</app-add-new-team-modal>

<app-repository-list-modal>
</app-repository-list-modal>