:host {
  display: block;
}

.repository-card, .vulnerability-card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

.vulnerability-chart {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically centers if flex-direction: column */
  height: 100%;
}

// Vulnerability card
.vuln-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--cui-body-color);
}