<c-row>
    <!-- Repository overview card -->
    <c-col [md]="7" [sm]="12">
        <c-card class="mb-4 h-100 repository-card">
            <app-repository-overview-card
                    [repoData]="repoData"
                    [scanRunning]="scanRunning"
                    [userRole]="userRole"
                    [topLanguages]="topLanguages"
                    (runScanEvent)="runScan()"
                    (runExploitabilityEvent)="runExploitabilityAnalysis()"
                    (openChangeTeamModalEvent)="openChangeTeamModal()"></app-repository-overview-card>
        </c-card>
    </c-col>

    <!-- Vulnerabilities chart card -->
    <c-col [md]="5" [sm]="12">
        <c-card class="mb-4 h-100 vulnerability-card">
            <c-card-header>
                <h3 class="vuln-title mb-0">Vulnerability Sources</h3>
            </c-card-header>
            <c-card-body class="vulnerability-chart">
                <app-vulnerabilities-source-chart
                        [chartPieData]="chartPieData"
                        [options]="options"
                        (updateFilterSource)="updateFilter($event)"
                ></app-vulnerabilities-source-chart>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
