<app-repositories-table-legend></app-repositories-table-legend>

<ngx-datatable
        class="bootstrap security-table"
        [rows]="visibleRepositories"
        [columns]="columns"
        [selectionType]="selectionType.multiClick"
        (select)="onSelect($event)"
        [selected]="selectedRepos"
        [rowIdentity]="rowIdentity"
        [selectAllRowsOnPage]="false"
        [columnMode]="'flex'"
        [footerHeight]="50"
        [headerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10">

    <ngx-datatable-column name="" prop="name2" [flexGrow]="1" [sortable]="false" [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
            <button type="button" class="btn btn-sm btn-primary" (click)="showRepository(row)">
                <svg cIcon name="cil-magnifying-glass"></svg>
            </button>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Repository" prop="target" [flexGrow]="3">
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="d-flex flex-column">
                <span class="fw-bold">{{ row.target }}</span>
                <small class="text-muted">
                    <a href="{{ row.repo_url }}" target="_blank" class="repo-link">
                        <svg cIcon name="cil-external-link" size="sm" class="me-1"></svg>
                        {{ row.repo_url }}
                    </a>
                </small>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Team" prop="team" [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-row="row">
            <span class="team-badge">{{ row.team }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Security Posture" [flexGrow]="2" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="d-flex align-items-center security-posture-cell">

                <div class="overall-risk-indicator me-3" [cTooltip]="'Overall Risk: ' + getOverallRiskStatus(row)">
                    <svg cIcon [name]="getOverallRiskIcon(row)" size="lg"
                         [ngClass]="getOverallRiskClass(row)"></svg>
                </div>

                <div class="scan-health-bar d-flex flex-wrap gap-1">
                    <div class="scan-block" [cTooltip]="'SAST: ' + row.sast" [ngClass]="getScanStatusClass(row.sast)">SAST</div>
                    <div class="scan-block" [cTooltip]="'DAST: ' + row.dast" [ngClass]="getScanStatusClass(row.dast)">DAST</div>
                    <div class="scan-block" [cTooltip]="'SCA: ' + row.sca" [ngClass]="getScanStatusClass(row.sca)">SCA</div>
                    <div class="scan-block" [cTooltip]="'Secrets: ' + row.secrets" [ngClass]="getScanStatusClass(row.secrets)">SECR</div>
                    <div class="scan-block" [cTooltip]="'IaC: ' + row.iac" [ngClass]="getScanStatusClass(row.iac)">IAC</div>
                    <div class="scan-block" [cTooltip]="'GitLab: ' + row.gitlab" [ngClass]="getScanStatusClass(row.gitlab)">GIT</div>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>