// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$primary: #2c3e50;


:root {
  --red-900: #7A271A;
  --red-600: #D92D20;
}

:root {
  --green-900: #054F31;
  --green-600: #039855;
}

:root {
  --gray-300: #D5D7DA;
}

:root {
  --raven-primary: #2c3e50;
  --raven-secondary: #4B0082;
}

:root {
  --yellow-900: #7A2E0E;
  --yellow-600: #DC6803;
  --yellow-300: #f1c232;
}

:root {
  --orange-600: #FF4D00;
}