// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

:root {
  --red-900: #7A271A;
  --red-600: #D92D20;
}

:root {
  --green-900: #054F31;
  --green-600: #039855;
}

:root {
  --gray-300: #D5D7DA;
}

:root {
  --yellow-900: #7A2E0E;
  --yellow-600: #DC6803;
}

