.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-20 {
  margin-left: 20px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.width-30 {
  width: 30%;
}

.width-50 {
  width: 50%;
}

.width-80 {
  width: 80%;
}

.width-100 {
  width: 100%;
}

.font-600 {
  font-weight: 600;
}