<!-- Data Table (Updated to match repository styling) -->
<ngx-datatable
        class="bootstrap security-table"
        [rows]="visibleTeams"
        [columns]="columns"
        [columnMode]="'force'"
        [footerHeight]="50"
        [headerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
>
    <!-- Action Column -->
    <ngx-datatable-column name="" prop="name2" [width]="60" [sortable]="false"
                          [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
            <button type="button" class="btn btn-sm btn-primary" (click)="showTeam(row)">
                <svg cIcon name="cil-magnifying-glass"></svg>
            </button>
        </ng-template>
    </ngx-datatable-column>

    <!-- Team Column -->
    <ngx-datatable-column name="Team" prop="name" [width]="350">
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="d-flex flex-column">
                <span class="fw-bold">{{ row.name }}</span>
                <small class="text-muted">{{ row.remoteIdentifier }}</small>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- SAST Column -->
    <ngx-datatable-column name="SAST" [width]="100">
        <ng-template ngx-datatable-header-template>
            <span class="scan-type-header" cTooltip="Static Application Security Testing">SAST</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="scan-status-cell">
                <div
                        class="scan-status-indicator"
                        [ngClass]="{
                                'danger': row.sastStatus === 'DANGER',
                                'success': row.sastStatus === 'SUCCESS',
                                'warning': row.sastStatus === 'WARNING',
                                'neutral': row.sastStatus === 'NOT_PERFORMED'
                              }"
                >
                    <svg *ngIf="row.sastStatus === 'DANGER'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.sastStatus === 'SUCCESS'" cIcon name="cil-check"
                         size="md"></svg>
                    <svg *ngIf="row.sastStatus === 'WARNING'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.sastStatus === 'NOT_PERFORMED'" cIcon name="cil-ban"
                         size="md"></svg>
                    <c-spinner *ngIf="row.sastStatus === 'RUNNING'" size="sm"></c-spinner>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- SCA Column -->
    <ngx-datatable-column name="SCA" [width]="100">
        <ng-template ngx-datatable-header-template>
                                        <span class="scan-type-header"
                                              cTooltip="Software Composition Analysis">SCA</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="scan-status-cell">
                <div
                        class="scan-status-indicator"
                        [ngClass]="{
                                'danger': row.scaStatus === 'DANGER',
                                'success': row.scaStatus === 'SUCCESS',
                                'warning': row.scaStatus === 'WARNING',
                                'neutral': row.scaStatus === 'NOT_PERFORMED'
                              }"
                >
                    <svg *ngIf="row.scaStatus === 'DANGER'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.scaStatus === 'SUCCESS'" cIcon name="cil-check"
                         size="md"></svg>
                    <svg *ngIf="row.scaStatus === 'WARNING'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.scaStatus === 'NOT_PERFORMED'" cIcon name="cil-ban"
                         size="md"></svg>
                    <c-spinner *ngIf="row.scaStatus === 'RUNNING'" size="sm"></c-spinner>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- Secrets Column -->
    <ngx-datatable-column name="Secrets" [width]="100">
        <ng-template ngx-datatable-header-template>
            <span class="scan-type-header" cTooltip="Secret Detection">Secrets</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="scan-status-cell">
                <div
                        class="scan-status-indicator"
                        [ngClass]="{
                                'danger': row.secretsStatus === 'DANGER',
                                'success': row.secretsStatus === 'SUCCESS',
                                'warning': row.secretsStatus === 'WARNING',
                                'neutral': row.secretsStatus === 'NOT_PERFORMED'
                              }"
                >
                    <svg *ngIf="row.secretsStatus === 'DANGER'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.secretsStatus === 'SUCCESS'" cIcon name="cil-check"
                         size="md"></svg>
                    <svg *ngIf="row.secretsStatus === 'WARNING'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.secretsStatus === 'NOT_PERFORMED'" cIcon name="cil-ban"
                         size="md"></svg>
                    <c-spinner *ngIf="row.secretsStatus === 'RUNNING'"
                               size="sm"></c-spinner>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- IaC Column -->
    <ngx-datatable-column name="IaC" [width]="100">
        <ng-template ngx-datatable-header-template>
            <span class="scan-type-header" cTooltip="Infrastructure as Code">IaC</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="scan-status-cell">
                <div
                        class="scan-status-indicator"
                        [ngClass]="{
                                'danger': row.iacStatus === 'DANGER',
                                'success': row.iacStatus === 'SUCCESS',
                                'warning': row.iacStatus === 'WARNING',
                                'neutral': row.iacStatus === 'NOT_PERFORMED'
                              }"
                >
                    <svg *ngIf="row.iacStatus === 'DANGER'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.iacStatus === 'SUCCESS'" cIcon name="cil-check"
                         size="md"></svg>
                    <svg *ngIf="row.iacStatus === 'WARNING'" cIcon name="cil-warning"
                         size="md"></svg>
                    <svg *ngIf="row.iacStatus === 'NOT_PERFORMED'" cIcon name="cil-ban"
                         size="md"></svg>
                    <c-spinner *ngIf="row.iacStatus === 'RUNNING'" size="sm"></c-spinner>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- GitLab Scan Column -->
    <ngx-datatable-column name="Cloud Scan" [width]="100">
        <ng-template ngx-datatable-header-template>
            <span class="scan-type-header" cTooltip="GitLab Scan">GitLab Scan</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="scan-status-cell">
                <div class="scan-status-indicator"
                     [ngClass]="{
             'danger': row.gitlabStatus === 'DANGER',
             'success': row.gitlabStatus === 'SUCCESS',
             'warning': row.gitlabStatus === 'WARNING',
             'neutral': row.gitlabStatus === 'NOT_PERFORMED'
           }">
                    <svg *ngIf="row.gitlabStatus === 'DANGER'" cIcon name="cil-warning" size="md"></svg>
                    <svg *ngIf="row.gitlabStatus === 'SUCCESS'" cIcon name="cil-check" size="md"></svg>
                    <svg *ngIf="row.gitlabStatus === 'WARNING'" cIcon name="cil-warning" size="md"></svg>
                    <svg *ngIf="row.gitlabStatus === 'NOT_PERFORMED'" cIcon name="cil-ban" size="md"></svg>
                    <c-spinner *ngIf="row.gitlabStatus === 'RUNNING'" size="sm"></c-spinner>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>

    <!-- Cloud Scan Column -->
    <ngx-datatable-column name="Cloud Scan" [width]="100">
        <ng-template ngx-datatable-header-template>
            <span class="scan-type-header" cTooltip="Cloud Security Scan">Cloud Scan</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="scan-status-cell">
                <div class="scan-status-indicator"
                     [ngClass]="{
             'danger': row.cloudScanStatus === 'DANGER',
             'success': row.cloudScanStatus === 'SUCCESS',
             'warning': row.cloudScanStatus === 'WARNING',
             'neutral': row.cloudScanStatus === 'NOT_PERFORMED'
           }">
                    <svg *ngIf="row.cloudScanStatus === 'DANGER'" cIcon name="cil-warning" size="md"></svg>
                    <svg *ngIf="row.cloudScanStatus === 'SUCCESS'" cIcon name="cil-check" size="md"></svg>
                    <svg *ngIf="row.cloudScanStatus === 'WARNING'" cIcon name="cil-warning" size="md"></svg>
                    <svg *ngIf="row.cloudScanStatus === 'NOT_PERFORMED'" cIcon name="cil-ban" size="md"></svg>
                    <c-spinner *ngIf="row.cloudScanStatus === 'RUNNING'" size="sm"></c-spinner>
                </div>
            </div>
        </ng-template>
    </ngx-datatable-column>


</ngx-datatable>