<!-- Enhanced Dashboard Header with Overview Stats (Only shown when security overview is hidden) -->
<app-foldable-container
        [title]="'Security & Performance Overview'"
        [description]="'Key metrics across your organization'"
        [isFoldable]="!isSecurityOverviewVisible">
    <c-col>
        <app-widgets-dropdown [stats]="statsService.widgetStats()"/>
    </c-col>
</app-foldable-container>

<app-foldable-container
        [title]="'Security & Performance Overview'"
        [description]="'Key metrics across your organization'"
        [isFoldable]="true"
        (onToggled)=securityOverviewToggled($event)>
    <app-security-overview></app-security-overview>
</app-foldable-container>

<app-foldable-container
        [title]="'Administrative Actions'"
        [isFoldable]="true"
        *appHasRole="['ADMIN']">
    <app-administrative-actions
        [showCreateTeamButton]="appInfo?.quotaInfo?.planType != 'FREE'">
    </app-administrative-actions>
</app-foldable-container>

<app-foldable-container>
    <app-general-data-overview>
    </app-general-data-overview>
</app-foldable-container>

<app-toast-application></app-toast-application>
<app-loading></app-loading>