name: Deploy PostgreSQL Database

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        options:
          - prod
          - test
          - both

jobs:
  deploy-prod:
    runs-on: self-hosted
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Ensure prod network exists
        uses: ./.github/actions/docker-network
        with:
          network-name: 'raven-prod'

      - name: Deploy PostgreSQL (Production)
        uses: ./.github/actions/postgres-docker