name: Deploy PostgreSQL Database

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        options:
          - prod
          - test
          - both

jobs:
  deploy-prod:
    runs-on: self-hosted
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy PostgreSQL (Production)
        uses: ./.github/actions/postgres-docker