<c-row>
    <c-col>
        <app-info-tile
                color="#4CAF50"
                [header]="'Active Teams'"
                [value]="'2'"
                [description]="'3% from last week'"></app-info-tile>
    </c-col>
    <c-col>
        <app-info-tile
                color="#4CAF50"
                [header]="'Active Teams'"
                [value]="'2'"
                [description]="'3% from last week'"></app-info-tile>
    </c-col>
</c-row>
<c-row>
    <c-col>
        <app-info-tile
                color="#4CAF50"
                [header]="'Active Teams'"
                [value]="'2'"
                [description]="'3% from last week'"></app-info-tile>
    </c-col>
    <c-col>
        <app-info-tile
                color="#4CAF50"
                [header]="'Active Teams'"
                [value]="'2'"
                [description]="'3% from last week'"></app-info-tile>
    </c-col>
</c-row>